@{
    ViewBag.Title = "О нас";
}
<h2>@ViewBag.Title.</h2>
<p>Наш интернет магазин приветствует вас! Добро пожаловать!</p>
<p>  Только мы даем самые низкие цены на свою продукцию, а если вы найдете еще дешевле, то мы снизим цену еще больше.</p>
<p>Наш интернет магазин зарекомендовали себя как надежного и уверенного поставщика товара. Покупая в нашем магазине, вы будете всегда счастливы и рады вернуться к нам снова.</p>
<p>Наши менеджеры всегда будут рады вам помочь. </p>
