@{
    ViewBag.Title = "Конакты";
}
<h2>@ViewBag.Title</h2>

<address>
    <strong>Контактное лицо:</strong> Максим<br />
    <strong>Адрес:</strong> Украина,Харьковская область,Харьков<br />
    <strong>Telegram: </strong>+380663260213<br>
</address>

<address>
    <strong>Поддержка:</strong>   <a href="mailto:support@nixelt.store">support@nixelt.store</a><br />
    <strong>Связь с администрацией:</strong> <a href="mailto:admin@nixelt.store">admin@nixelt.store</a>
</address>