
@{
    ViewBag.Title = "Доставка";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h1><span>Условия доставки и оплаты</span></h1>
    <div>
        <h4><span>Способы доставки</span></h4>
        <ul>
            <li><span>Новая Почта</span></li>
        </ul>
    </div>
    <div>
        <h4><span>Способы оплаты</span></h4>
        <ul>
            <li><span>Безналичный расчет</span></li>
            <li><span>На карту Приватбанка</span></li>
        </ul>
    </div>
    <div class=" ">
        <h4><span>Регионы доставки:</span></h4>
        <div>
            <ul>
                <li>

                    <span>Украина:</span>

                    <div>
                        <ul>
                            <li>

                                Винницкая область
                            </li>
                        </ul>
                        <ul>
                            <li>

                                Волынская область
                            </li>
                        </ul>
                        <ul>
                            <li>

                                Днепропетровская область
                            </li>
                        </ul>
                        <ul>
                            <li>

                                <span>Донецкая область:</span>

                                <div>
                                    <ul>
                                        <li>

                                            Бахмут
                                        </li>
                                    </ul>
                                    <ul>
                                        <li>

                                            Горловка
                                        </li>
                                    </ul>
                                    <ul>
                                        <li>

                                            Донецк
                                        </li>
                                    </ul>
                                    <ul>
                                        <li>

                                            Енакиево
                                        </li>
                                    </ul>
                                    <ul>
                                        <li>

                                            Константиновка
                                        </li>
                                    </ul>
                                    <ul>
                                        <li>

                                            Краматорск
                                        </li>
                                    </ul>
                                    <ul>
                                        <li>

                                            Макеевка
                                        </li>
                                    </ul>
                                    <ul>
                                        <li>

                                            Мариуполь
                                        </li>
                                    </ul>
                                    <ul>
                                        <li>

                                            Славянск
                                        </li>
                                    </ul>
                                </div>

                            </li>
                        </ul>
                        <ul>
                            <li>

                                Житомирская область
                            </li>
                        </ul>
                        <ul>
                            <li>

                                Закарпатская область
                            </li>
                        </ul>
                        <ul>
                            <li>

                                Запорожская область
                            </li>
                        </ul>
                        <ul>
                            <li>

                                Ивано-Франковская область
                            </li>
                        </ul>
                        <ul>
                            <li>

                                Киев
                            </li>
                        </ul>
                        <ul>
                            <li>

                                Киевская область
                            </li>
                        </ul>
                        <ul>
                            <li>

                                Кировоградская область
                            </li>
                        </ul>
                        <ul>
                            <li>

                                Луганская область
                            </li>
                        </ul>
                        <ul>
                            <li>

                                <span>Львовская область:</span>

                                <div>
                                    <ul>
                                        <li>

                                            Львов
                                        </li>
                                    </ul>
                                </div>

                            </li>
                        </ul>
                        <ul>
                            <li>

                                Николаевская область
                            </li>
                        </ul>
                        <ul>
                            <li>

                                Одесская область
                            </li>
                        </ul>
                        <ul>
                            <li>

                                Полтавская область
                            </li>
                        </ul>
                        <ul>
                            <li>

                                Ровненская область
                            </li>
                        </ul>
                        <ul>
                            <li>

                                Сумская область
                            </li>
                        </ul>
                        <ul>
                            <li>

                                Тернопольская область
                            </li>
                        </ul>
                        <ul>
                            <li>

                                Харьковская область
                            </li>
                        </ul>
                        <ul>
                            <li>

                                Херсонская область
                            </li>
                        </ul>
                        <ul>
                            <li>

                                Хмельницкая область
                            </li>
                        </ul>
                        <ul>
                            <li>

                                Черкасская область
                            </li>
                        </ul>
                        <ul>
                            <li>

                                Черниговская область
                            </li>
                        </ul>
                        <ul>
                            <li>

                                Черновицкая область
                            </li>
                        </ul>
                    </div>

                </li>
            </ul>
        </div>
    </div>
</div>
