
@{
    ViewBag.Title = "Гарантия";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>
<p>На товары в нашем магазине предоставляется гарантия, подтверждающая обязательства по обеспечению надлежащей работы товаров в течение гарантийного срока. <span style="color: #ff0000;">Срок гарантии указан в описании каждого товара на нашем сайте.</span></p>
<p>Пожалуйста, проверьте комплектность и отсутствие дефектов в товаре при его получении (комплектность определяется описанием изделия или руководством по его эксплуатации).</p>
<p>Если в течение гарантийного срока товар, который вы у нас купили, вышел из строя по вине производителя и не может быть отремонтирован в авторизованном сервисном центре, мы обменяем товар на аналогичный или вернём деньги.</p>
<p><strong>Для этого, пожалуйста, предоставьте нам</strong>:</p>
<ol>
    <li>Товар с полной комплектацией;</li>
    <li>Документ, подтверждающий оплату;</li>
    <li>Заявление, заполненное на обмен товара. &nbsp;</li>
</ol>
<p><strong>В каких случаях гарантия не предоставляется?</strong></p>
<ul>
    <li>нарушена сохранность гарантийных пломб</li>
    <li>есть механические или иные повреждения, которые возникли вследствие умышленных или неосторожных действий покупателя или третьих лиц</li>
    <li>нарушены правила использования, изложенные в эксплуатационных документах</li>
    <li>было произведено несанкционированное вскрытие, ремонт или изменены внутренние коммуникации и компоненты товара, изменена конструкция или схемы товара</li>
</ul>
<p><strong> Гарантийные обязательства не распространяются на следующие неисправности:</strong></p>
<ul>
    <li>естественный износ или исчерпание ресурса;</li>
    <li>случайные повреждения, причиненные клиентом, или повреждения, возникшие вследствие небрежного отношения или использования (воздействие жидкости, запыленности, попадание внутрь корпуса посторонних предметов и т. п.);</li>
    <li>повреждения в результате стихийных бедствий (природных явлений);</li>
    <li>повреждения, вызванные аварийным повышением или понижением напряжения в электросети или неправильным подключением к электросети;</li>
    <li>повреждения, вызванные дефектами системы, в которой использовался данный товар, или возникшие в результате соединения и подключения товара к другим изделиям;</li>
    <li>повреждения, вызванные использованием товара не по назначению или с нарушением правил эксплуатации;&nbsp;&nbsp;</li>
</ul>
<p>&nbsp;</p>