@{
    ViewBag.Title = "Ссылка отправлена";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        На Вашу почту отправлена ссылка для сброса пароля
    </p>
    @Html.ActionLink("На главную", "Index", "Home", null, new { @class = "btn-link" })
</div>