@{
    ViewBag.Title = "Пароль сброшен";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Новый пароль сохранен. @Html.ActionLink("Войти", "Login", "Account", routeValues: null, htmlAttributes: new {  @class="btn-link",id = "loginLink" })
    </p>
</div>