
@{
    ViewBag.Title = "Not Found";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-wrap d-flex flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center">
                <span class="display-1 d-block">404</span>
                <div class="mb-4 lead">Извините, но данной страницы не существует =(.</div>
                @Html.ActionLink("На главную", "Index", "Home", null, new { @class = "btn btn-link" })
            </div>
        </div>
    </div>
</div>